body {
    background-color: rgba(255, 255, 255, 0.849);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}

.nome-site {
    font-size: 4.5em; 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    text-align: center; 
    flex: 1; 
}

.welcome {
    position: absolute; 
    right: 1600px; 
    top: 10px; 
    font-weight: bold;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
    padding: 5px 10px;
    color: rgb(0, 132, 255);
    border-radius: 5px;
}

.btn2 {
    display: flex;
    gap: 10px;
    position: absolute; 
    right: 1500px; 
    top: 25px;  
    background-color: #28ce43;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn2:hover {
    background-color: #3a5c2a;
}

.botao {
    display: flex;
    gap: 10px;
    position: absolute; 
    right: 20px; 
    top: 10px; 
    background-color: #9370DB;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.botao:hover {
    background-color: #532553;
}

.botao2 {
    display: flex;
    gap: 10px;
    position: absolute; 
    right: 120px; 
    top: 10px; 
    background-color: #9370DB;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.botao2:hover {
    background-color: #532553;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.main-content h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
    color: #ffffff; 
    background-color: #000000e8; 
    padding: 10px; 
    border: 1px solid #000000; 
    border-radius: 13px; 
}

.main-content p {
    font-size: 2.4em;
    margin-bottom: 40px;
    color: #be1a95;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-card {
    border: 3px solid;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    width: 90%; 
}

.product-card img {
    width: 80%; 
    height: 270px;
    object-fit: cover; 
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.4em;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.product-card p {
    color: #1179e7;
    font-size: 1.4em;
    font-weight: bold;
}