<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="{% static 'styles_carrinho.css' %}">
</head>
<body>
    <header class="header">
        <div class="nome-site">NZ</div>
    </header>

    <div class="main-content">
        <h1>Carrinho de Compras</h1>

        {% if itens %}
        <div class="cart-items">
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr>
                        <td>{{ item.nome }}</td>
                        <td>R$ {{ item.preco }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ item.preco|floatformat:2 }}</td>
                        <td>{{ item.quantidade|add:item.preco }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="total">
                <p><strong>Total:</strong> R$ {{ total_carrinho|floatformat:2 }}</p>
            </div>

            <div class="actions">
                <a href="{% url 'home' %}">
                    <button type="button">Continuar Comprando</button>
                </a>
                
                <a href="{% url 'home' %}">
                    <button type="button">finalizar compras</button>
                </a>
            </div>

        </div>
        {% else %}
        <p>Seu carrinho está vazio.</p>
        {% endif %}
    </div>
</body>
</html>