<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Compra</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles_compra_finalizada.css' %}">
</head>
<body>
    <h1>Confirmação de Compra</h1>
    <div>
        {% for item in itens %}
        <h2>{{ item.nome }}</h2>
        <p>Preço: R$ {{ item.preco }}</p>
        <p>Quantidade: {{ item.quantidade }}</p>
        {% endfor %}
        <h1>total: R$ {{ total_carrinho }}</h1>
    </div>
    <form method="POST" action="{% url 'compras' %}">
        {% csrf_token %}
        <button id="Comprar" type="submit">Comprar</button>
    </form>
    <button onclick="window.history.back()">Voltar</button>
</body>
</html>