{% extends 'template.html' %}

{% block titulo %}


Editar Produto


{% endblock %}

{% block conteudo %}

{% load static %}
<body style="text-align: center;  font-family: Segoe UI;">
       
    
    
    <div>
      
                <h1 style="text-align: center; font-size: 25px; font-family: Segoe UI;">
            Por favor, edite os dados do Produto
       
                <form method="POST" action="/editarproduto/{{ id }}">
                    {% csrf_token %}  <div>
                <input style="margin: 5px" class="inputlogin" type="text" name="nome" placeholder="Nome" >
            <div>
                <input style="margin: 5px" class="inputlogin" type="number" name="preco" placeholder="preco" step="0.01" min="0" >
            </div>
    </div>
       
        
                    <br>
        <button class="botaologin" type="submit">Atualizar</button>
    

    
    
    <script>
      //Limpa os campos do formulário ao entrar na tela
      $(document).ready(function() {
        $('input[name="nome"]').val('');
        $('input[name="email"]').val('');
        $('input[name="senha"]').val('');
      });
    </script>
    

    
    
    </form>
    <br>
   
<!--Div para exibir mensagens de erro, inicialmente oculta -->

</div>


</body>
{% endblock %}