<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Online</title>
    <link rel="stylesheet" href="{% static 'styles_home.css' %}">
</head>
<body>
    <header>
        <div class="nome-site">NOZAMA</div>
        
            {% if not nome_usuario %}
                <a href="{% url 'login' %}">
                    <button type="button" class="botao">Login</button>
                </a>
                <a href="{% url 'registro' %}">
                    <button type="button" class="botao">Registro</button>
                </a>
            {% else %}
                <h1 class="welcome">{{ nome_usuario }}</h1>
                <form method="POST" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <button type="submit" class="botao2">Logout</button>
                </form>
                {% if perfil == 'administrador' %}
                    <a href="{% url 'produtos' %}">
                        <button type="button" class="btn2">Produtos</button>
                    </a>
                {% endif %}
            {% endif %}
            <a href="{% url 'carrinho' %}">
                <button type="button" class="botao">Carrinho</button>
            </a>
    </header>

    <div class="main-content">
        <h1>Bem-vindo</h1>
        <div class="product-grid">
            {% for produto in produtos %}
            <div class="product-card">
                <img src="{% static 'images/' %}{{ produto.imagem }}" alt="{{ produto.nome }}">
                <h3>{{ produto.nome }}</h3>
                <p>R$ {{ produto.preco }}</p>
                <form method="POST" action="{% url 'adicionar_ao_carrinho' produto_id=produto.produto_id %}">
                    {% csrf_token %}
                    <button id="adicionarCarrinho" type="submit">Adicionar ao Carrinho</button>
                </form>
                <script>
                    function desativarBotao(form) {
                        var botao = form.querySelector("button");
                        botao.disabled = true;  // Desativa o botão após o clique
                        botao.innerText = "Adicionado ao Carrinho";  // Muda o texto do botão
                    }
                </script>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        window.addEventListener('beforeunload', function (event) {
            // Faz a requisição para o logout
            navigator.sendBeacon("{% url 'logout_view' %}");
        });
    </script>
</body>
</html>